<div class="container">
  <!-- <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <div>
        <div class="fileinput text-center fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail img-circle img-raised">
            <img src="src=" assets/img/placeholder.jpg "" alt="...">
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised" style=""></div>
          <div>
            <span class="btn btn-raised btn-round btn-default btn-file">
              <span class="fileinput-new">Add Photo</span>
              <span class="fileinput-exists">Change</span>
              <input type="hidden" value="" name="...">
              <input type="file" name="">
              <div class="ripple-container"></div>
            </span>
            <br>
            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
              <i class="fa fa-times"></i> Remove
              <div class="ripple-container">
                <div class="ripple ripple-on ripple-out" style="left: 54.1719px; top: 26.5313px; background-color: rgb(255, 255, 255); transform: scale(15.5489);"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div> -->
  <div class="row">
      
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card card-profile">


        <div class="card-content">
            <h4 class="title">Profile</h4>
          <div class="row">
            <div class=" col-md-12 ">
              <h6>
                <span class="tim-note pull-left">Email</span>
              </h6>
            </div>

          </div>
          <div class="row">
            <div class=" col-md-12 ">

              <h5 class="pull-left">prabakar1993@gmail.com</h5>
            </div>
            
          </div>
          <div class="row">
              <div class=" col-md-12 ">
                <h6>
                  <span class="tim-note pull-left">Profile Name</span>
                </h6>
              </div>
  
            </div>
            <div class="row">
              <div class=" col-md-12 ">
  
                <h5 class="pull-left">selvamani</h5>
              </div>
              
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                        <button class="btn btn-raised btn-round btn-default btn-block" data-toggle="modal" data-target="#profilenameChange">
          
                          Update Profile
                          <div class="ripple-container"></div>
                        </button>
                </div>
                <div class="col-md-3"></div>
            </div>

<!--pop-up datas -->

          <div class="modal fade" id="profilenameChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
          style="display: none;">
          <div class="modal-dialog modal-small ">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">clear</i>
                </button>
              </div>
              <div class="modal-body">
                <h6>Update Profile</h6>
                  <div class="form-group is-empty">
                      <input type="text" value="" placeholder="Enter Name" class="form-control">
                    <span class="material-input"></span>
                  </div>
              </div>
              <div class="modal-footer text-center">
                  <button type="button" class="btn btn-simple" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-success btn-simple">Update</button>
                </div>
            </div>
          </div>
        </div>

<!-- pop-up datas end -->

        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>


  <P>3BCVSDZVCVSDCV 2SVC VSDVC VSDCVSVC2 VSCV2SVCVSVCSVCVS2VCSVCVS2VC2SVC2SCV</P>